<div class = "userAccess">
    <%if(currUser){%>
        <a href="/dashboard" class = "signup"><%=currUser.username%></a>
        <hr>
        <a href="/logout" class = "signup" style="color: red;">Logout</a>
    <%}else{%>
        <a href="/login" class = "signin">Login</a>
        <hr>
        <a href="/signup" class = "signup">Signup</a>
    <%}%>
</div>